<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /backend/

    # 1. Puente para las imágenes
    RewriteRule ^uploads/(.*)$ public/uploads/$1 [L]

    # 2. Enrutador principal de la API
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>