# Este .htaccess está DENTRO de la carpeta /htdocs/backend/
RewriteEngine On

# Si el archivo o directorio solicitado NO existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Envíalo al index.php que está DENTRO de public
RewriteRule ^(.*)$ public/index.php [QSA,L]